.multiselect {
    width: 200px;
  }
  
  .selectBox {
    position: relative;
  }
  
  .selectBox select {
    width: 100%;
  }
  
  .overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  #checkboxes {
    display: block;
    border: 1px #dadada solid;
    position: absolute;
    background: #282c34;
    overflow-y: scroll;
    height: 300px;
    width: 300px;
  }
  
  #checkboxes label {
    display: block;
    text-align: left;
    padding: 0 10px;
    font-size: 18px;
  }
  #checkboxes .loader {
    font-size: 18px;
    color: lightblue;
    text-align: left;
    padding-left: 20px;
    cursor: pointer;
  }
  
  #checkboxes label:hover {
    background-color: #1e90ff;
  }