.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px 10px;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header > * {
  text-align: left;
  margin: 10px 10px 0 10px;
}
.App-header select {
  font-weight: bold;
  height: 27px;
  border-radius: 5px;
}

.App-link {
  color: #61dafb;
}

input[type="date"] { 
  height: 24px;
  border-radius: 5px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.divCenter {
  display: flex;
  justify-content: center;
  min-height: 70px;
  .button {
    background-color: #1e90ff;
    color: white;
    font-size: 20px;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 12px;
    padding: 5px 32px;
    margin-bottom: 24px;
    border-radius: 10px;
    cursor: pointer;
  }
  .button:disabled{
    color: grey;
  }
}

